@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif; /* Change the font-family to Commissioner */
}

.hero {
    background-color: #FFEBDC;
    color: #013140;
    text-align: center;
    padding: 50px 20px;
}

.benefits {
    padding: 20px;
    text-align: center;
}

.benefit-item {
    margin: 40px 0;
}


.logo {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.benefit-item img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.signup-form input, .signup-form button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif; /* Apply Commissioner font */
}

.signup-form button {
    background-color: #A42A36;
    color: #ffffff;
    cursor: pointer;
    /* Add any additional styles that match your button design image here */
}

.signup-footer {
    background-color: #ffe6f2;
    padding: 50px 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .benefit-item {
        margin: 30px 10px;
    }
}
